# Ignorar carpetas files dentro de cada rol
roles/common/files/
roles/desktop/files/
roles/multimedia/files/
roles/resources/files/
roles/scripts/files/
roles/terminal/files/

# Ignorar archivos específicos dentro de roles/tasks
roles/desktop/tasks/config_root_v1.yml
roles/desktop/tasks/main2.yml
roles/terminal/tasks/main2.yml
roles/terminal/tasks/main3.yml

# Ignorar archivo files.xlsx en la raíz
files.xlsx

# Ingorar archivo shell.sh
shell.sh